@import url('https://fonts.googleapis.com/css?family=Lora:900,800,500|Raleway:100,200,300,400,500,600,700,800,900&display=swap');

body {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    color: #fff;
}

a {
    color:#8D7569;
}

a:hover {
    color: #fff;
    text-decoration: none;
}

/* ----------------------------------------------------------------------------------------------------- Nav items */

nav {
    position: fixed;
    left: 5%;
    top: 350px;
    z-index: 1;
    text-align: right;
    font-family: 'Raleway', sans-serif;
    line-height: 2;
}

nav a {
    font-weight: 700;
    letter-spacing: 2px;
    color:#402429;
}

nav ul {
    list-style-type: none;
}

/* ----------------------------------------------------------------------------------------------------- Me */

.hero-image {
    background-image: url("../images/hero_image_bright.png");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100%;
    transition: all .5s ease-in-out; 
    height: 90vh;
}

#main-title {
    position: relative;
    right: 30px;
    top: 450px;
    font-family: 'Lora', serif;
    color:#402429;
    font-weight: 900;
    text-align: right;
    line-height: 1.6;
    z-index: 1;
}

h1>span { /* for && */
    letter-spacing: -5px;
    color: white;
}

#intro-text {
    text-align: right;
    font-weight: 400;
}

#intro-text p{
    font-size: 14px;
}

.hello-text {
    padding-top: 8%;
    font-weight: 700;
    font-size: 16px !important;
}

#contact {
    background-color: rgba(243, 243, 243, 0.815);
    color:#402429;
    padding: 2%;
    position: absolute;
    bottom: 5%;
}

#contact h5,
#contact h6{
    margin: 0;
    padding: 0;
}

#contact h6 {
    font-size: 16px;
    font-weight: 600;
    line-height: 2;
}

#contact h6 span{
    font-weight: 300;
}

@media only screen and (max-width: 1200px) {
    .hero-image {
        background-size: 200%;    
    }
}

@media only screen and (max-width: 1000px) {
    
    #main-title {
        position: absolute;
        left: 0;
        top: -92px;
        text-align: center;
        background-color: rgba(243, 243, 243, 0.5);
    }

    h1{
        font-size: 24px;
        margin: 5px 0 5px 0;
    }

    .hello-text{
        padding-top: 10%;
        font-weight: 700;
        font-size: 14px !important;
    }

    #contact h5 {
    font-size: 16px;
    }

    #contact h6 {
    font-size: 12px;
    }

    #contact h6 span{
        font-weight: 300;
    }

    #intro-text {
        height: 100%;
    }

    .mobile-background {
        background-color: #EDCCB9;
        height: 30vh;
        position: relative;
        top: 60vh;
    }
}

/* ----------------------------------------------------------------------------------------------------- ALL PAGES Titles */

.titles>h2 {
    font-family: 'Lora', serif;
    font-weight: 800;
    font-size: 6vh;
    line-height: 5vh;
    text-align: right;
    padding: 0;
    margin:0;
    z-index: 1;
    position: absolute;
    right: 20px;
    top: 20px;
    margin: 0;
}

.title-bar {
    height: 60px;
}

.title-bar-2 {
    height: 100px;
}

/* ----------------------------------------------------------------------------------------------------- Experience */

.experience-background {
    background-color: #EDCCB9;
    position: relative;
    min-height: 90vh;
}

.experience-item { 
    background-color: rgb(216, 182, 165);
    padding: 3% 3% 3% 10%;
    margin-top: 4%;
    margin-bottom: 4%;
}

.experience-item>h3{
    font-family: 'Lora', serif;
    color: #402429;
    font-size: 3vh;
    margin-bottom: 3%;
    padding-right: 40px;
}

.experience-item p{
    font-size: 2vh;
    margin-bottom: 3%;
}

.experience-item span { /* Link to projects */
    font-weight: 300;
    text-align: right;
}

/* --------------- Icons */
.experience-item i{
    color: #EDCCB9;
    font-size: 300%;
    position: absolute;
    left: 5%;
    top: 40%;
}
    
.right-icons{
    left: 80% !important;
}

.experience-text {
    display: inline-block;
    padding: 0;
}

/* ----------------------------------------------------------------------------------------------------- I like doing */

.I-like-background{
    background-color: #C3E1E3;
    min-height: 90vh;
}

.I-like-wrapper{
    min-height: 100%;
    padding: 2% 0 2% 0;
}

.I-like-item {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    margin-top: 5%;
    margin-left:2%;
    margin-right: 2%;
    padding: 0px;
    text-align: center;
}

.I-like-img{
    width: 140px;
    height: 140px;
    border-radius: 70px;
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0 auto;
    margin-top: 5%;
}

.cocktail-img{
    background-image: url("../images/cocktailf-trimed.png");
}

.espaco-img{
    background-image: url("../images/espaco-trimed.png");
}

.fernanda-img{
    background-image: url("../images/fernanda-trimed.png");
}

.I-like-content {
    width: 100%;
    padding-top: 20px;
}

/* content text */
.I-like-item h3{
    color: #402429;
    font-family: 'Lora', serif;
    line-height: 4vh;
    font-size: 2.5vh;
}

/* + and = signs */
.I-like-content>h3>span{
    font-weight: 900;
    font-size: 4vh;
    color:rgb(8, 102, 109);
    vertical-align: bottom;
}

/* My Projects stand out*/
.I-like-content h2{
    text-align: center;
    color: #402429;
    font-family: 'Lora', serif;
    font-size: 2.8vh;
    margin: 5% 20%;
    padding: 3%;
    background-color: rgba(255, 255, 255, 0.5);  
}

.one-line-title{
    line-height: 6.5vh;
}

.I-like-content-links{
    font-weight: 300;
    font-size: 2vh;
    text-align: right;
    padding: 2vh;
}

.I-like-content-links a{
    color:rgb(8, 102, 109);
}

.I-like-content-links a:hover {
  color: #fff;;
  text-decoration: none;
}

#shy-text {
    text-align: left;
    color: rgba(255, 255, 255, 0.8);
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 1.8px;
    display: inline-block;
    width: 100%;
    margin-top: 5%;
    margin-left:5%;
    margin-bottom: 5%;
    padding: 0px;
}

/* ----------------------------------------------------------------------------------------------------- What I studied */

.I-studied-background {
    background-color: #F2CED1;
    min-height: 90vh;
}

.I-studied-wrapper{
    margin-top: 8%;
    margin-bottom: 3%;
    float: left;
}

.I-studied-item {
    margin-left: 20px;
    color: #402429;
}

.I-studied-item h4, .I-studied-item p {
    font-weight: 300px;
    font-size: 2vh;
    margin: 0;
    padding-top: 8px;
}

.I-studied-item>h3{
    margin: 0;
    padding: 0;
    font-family: 'Lora', serif;
    font-size: 3vh;
}

hr{
    margin-top: 3vh;
    margin-bottom: 3vh;
    width: 50%;
}

.hr-right{
    text-align: right;
    margin-right: 0;
}

.hr-center{
    text-align: center;
}

.other-courses{
    color: rgba(255, 255, 255, 0.8);
    font-size: 14px;
    padding: 0;
    margin: 0;
    line-height: 26px;
    letter-spacing: 1.5px;
}

.other-courses span{
    font-size: 18px;
}


/* ----------------------------------------------------------------------------------------------------- Footer */
.footer-background{
    background-color: #402429;
    min-height: 10vh;
}

.footer-background>a>i{
    padding-left: 20px;
    font-size: 3vh;
    margin-top: 3vh;
}
