@import url('https://fonts.googleapis.com/css?family=Lora:900,800,500|Raleway:100,200,300,400,500,600&display=swap');

body{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    color: #fff;
}

/* ---------------------------------------- Nav items */

    .nav-container{
            position: fixed;
            left: 50%;
            z-index: 1;
            height: 100%;
            max-width: 1412px;
            background-color: rgba(63, 169, 255, 0.2);
    }


nav {
    position: fixed;
    left: 5%;
    top: 300px;
    z-index: 1;
    text-align: right;
    font-family: 'Raleway', sans-serif;
}
nav ul{
    list-style-type: none;
}
nav a{
    color:#8D7569;
}
nav a:hover {
  color: #fff;;
  text-decoration: none;
}

/*@media only screen and (min-width: 1412px) {
    
  nav {
    position: relative;
    left: 0px;
  }
}*/

/* ---------------------------------------- Me */
#main-title{
    /*background-color: rgba(87, 194, 38, 0.295);*/
    position: absolute;
    left: 20vw;
    top: 400px;
    font-family: 'Lora', serif;
    color:#402429;
    font-weight: 800;
    text-align: right;
    line-height: 1.6;
}
h1>span{ /* for && */
    letter-spacing: -5px;
    color: white;
}

#intro-text{
    /*background-color: rgba(87, 194, 38, 0.295);*/
    position: absolute;
    right: 10vw;
    top: 100px;
    text-align: right;
    font-weight: 400;
}

#contact{
    /*background-color: rgba(87, 194, 38, 0.295);*/
    position: absolute;
    color:#402429;
    right: 20vw;
    bottom: 0;
}

.hero-image{
    position: relative;
    background-image: url("images/hero_image.png");
    min-width: 100vw;
    max-width: 1412px;
    background-position: center top;
    min-height: 90vh;
    background-repeat: no-repeat;
}


/*@media only screen and (max-width: 479px) {
  .hero-image {
    background-size: 500%;
  }
}*/



