@import url('https://fonts.googleapis.com/css?family=Lora:900,800,500|Raleway:100,200,300,400,500,600&display=swap');

body{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    color: #fff;
}

a {
    color:#8D7569;
}
a:hover {
  color: #fff;;
  text-decoration: none;
}

/* ----------------------------------------------------------------------------------------------------- Nav items */

    /*.nav-container{
            position: fixed;
            left: 50%;
            z-index: 1;
            height: 100%;
            max-width: 1412px;
            /*background-color: rgba(63, 169, 255, 0.2);
    }*/


nav {
    position: fixed;
    left: 5%;
    top: 300px;
    z-index: 1;
    text-align: right;
    font-family: 'Raleway', sans-serif;
}
nav ul{
    list-style-type: none;
}

/* ----------------------------------------------------------------------------------------------------- Me */
#main-title{
    position: absolute;
    left: 20vw;
    top: 400px;
    font-family: 'Lora', serif;
    color:#402429;
    font-weight: 800;
    text-align: right;
    line-height: 1.6;
}
h1>span{ /* for && */
    letter-spacing: -5px;
    color: white;
}

#intro-text{
    position: absolute;
    right: 10vw;
    top: 100px;
    text-align: right;
    font-weight: 400;
}

#contact{
    background-color: rgba(243, 243, 243, 0.295);
    position: absolute;
    color:#402429;
    right: 20vw;
    bottom: 0;
}

.hero-image{
    background-image: url("images/hero_image.png");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 90vh;  
    transition: all .5s ease-in-out; 
}

@media only screen and (max-width: 800px) {
    .hero-image{
        background-size: 200%;    
    }
}

/* ----------------------------------------------------------------------------------------------------- Experience */

.experience-background{
    background-color: #EDCCB9;
    /*min-height: 90vh;*/
}

.title-right>h2,
.title-left>h2 {
    font-family: 'Lora', serif;
    font-weight: 800;
    font-size: 8vh;
    line-height: 7vh;
    text-align: right;
}

.title-right>h2{
    position: absolute;
    bottom: 0;
    right: 0;
}

.experience-item>h3{
    font-family: 'Lora', serif;
    color: #402429;
    font-size: 170%;
    padding-bottom: 1%;
}

.experience-item span { /* Link to projects */
    font-weight: 300;
    text-align: right;
}

.experience-item{
    background-color: rgba(255, 254, 254, 0.3);
    width: 50%;
    margin: 2%;
    padding: 3% 3% 3% 10%;
    position: relative;
    left: 30%;
}

.languages-code {
    text-align: right;
    padding-right: 10%;
}

.languages-speach {
    float: right;
    text-align: left;
    padding-left: 10%;
}

/* --------------- Icons */
.experience-item i{
    color: #EDCCB9;
    font-size: 300%;
}

.right-icons{
    left: 55% !important;
}

.experience-item i {     
    position: absolute;
    left: 7%;
    top: 40%;
}

/* ----------------------------------------------------------------------------------------------------- I like doing */

.I-like-background{
    background-color: #C3E1E3;
    /*min-height: 90vh;*/
}

.title-left>h2{
    position: absolute;
    bottom: 0;
    left: 0;
}

.I-like-wrapper{
    /*background-color: rgb(221, 230, 213);*/
    min-height: 100%;
    padding-left: 30vw;
    margin: 0;
}

.I-like-item {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    margin: 2%;
    padding: 3% 3% 3% 3%;
    /*min-height: 70vh;
    margin: 0 auto;*/

}

.I-like-img{
    width: 100%;
    height: 20vh;
    background-color: #fe34fe;
    border-radius: 45px;
}

.I-like-content {
    min-height: 200px;
    background-color: #3bfe34;
}

.I-like-item h3{
    color: #402429;
    font-family: 'Lora', serif;
    font-size: 120%;
}

.I-like-item>p{
    font-weight: 300;
    font-size: 80%;
    text-align: right;
}





